    /* font style */
    
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
    body {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
    }
    /* Top Section Area */
    
    .top-section {
        background: #2D25A0;
    }
    
    .container {
        display: flex;
        align-items: center;
    }
    
    .section-title {
        margin-left: 156px;
    }
    
    .title {
        font-size: 64px;
        color: #FFFFFF;
        margin-bottom: 27px;
    }
    
    .button {
        text-decoration: none;
        background: #E02C6D;
        color: #FFFFFF;
        font-size: 16px;
        padding: 10px 24px;
        transition: font-size .5s linear;
    }
    
    .button:hover {
        font-size: 20px;
    }
    
    .fa-arrow-right {
        margin-left: 8px;
    }
    
    .section-banner {
        margin-left: 102px;
        margin-top: 153px;
        margin-bottom: 86px;
    }
    
    .section-banner img {
        width: 556.01px;
        height: 438px;
    }
    /* Player Section */
    
    .main-container {
        margin-left: 180px;
        margin-right: 210px;
        padding-top: 70px;
        width: 1050px;
    }
    
    .players {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 27px;
        grid-row-gap: 30px;
    }
    
    .player {
        width: 300px;
        height: 475px;
        padding: 15px;
        border: 1px solid whitesmoke;
        box-shadow: 0px 0px 10px #dbdada;
    }
    
    .player-image img {
        width: 300px;
        height: 256px;
    }
    
    .player-name {
        font-size: 28 px;
    }
    
    .player-details {
        color: #6C6C6C;
        font-size: 16px;
    }
    /* highlight section */
    
    .highlight-container {
        display: flex;
        margin-top: 165px;
        justify-content: center;
        margin-bottom: 100px;
    }
    
    .highlight {
        margin-left: 182px;
        margin-top: 49px;
    }
    
    .highlight p {
        margin-bottom: 24px;
    }
    
    .highligher-image {
        margin-right: 165px;
        margin-left: 66px;
    }
    
    .highligher-image img {
        width: 567px;
        height: 427px;
    }
    /* News */
    
    #news {
        background: #f7d6e2;
        padding-top: 30px;
        padding-bottom: 30px;
        margin: 0 100px;
        text-align: center;
        font-size: 30px;
    }
    
    .news-container {
        width: 100%;
        display: flex;
        margin-top: 50px;
        justify-content: space-around
    }
    
    .news {
        width: 400px;
        height: 620px;
        margin-left: 10px;
        margin-bottom: 100px;
        padding: 15px;
        border: 1px solid whitesmoke;
        box-shadow: 0px 0px 10px #dbdada;
        border-radius: 10px;
    }
    
    .news-heading a {
        text-decoration: none;
    }
    
    .news-heading a:hover {
        color: gray;
    }
    
    .news-image {
        margin-right: 20px;
    }
    
    .news-image img {
        width: 400px;
        height: 320px;
    }
    
    .news-report p {
        text-overflow: ellipsis;
    }
    /* Video Section */
    
    .video-container {
        position: relative;
        background-image: url("images/soccer-ball-goal.jpg");
        height: 700px;
    }
    
    .video-text {
        position: relative;
        margin-top: 25px;
    }
    
    .imgage-video-container {
        margin-left: 0px;
    }
    
    .video-text h1 {
        margin-left: 0px;
        position: absolute;
        padding-top: 5px;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        border: solid #6477e09a 5px;
        color: rgb(255, 34, 34);
        font-size: 50px;
    }
    
    .video {
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        position: absolute;
        margin-top: 200px;
        text-align: center;
    }
    /* -----------------------------------Footer------------ */
    
    footer {
        margin-top: 158px;
        text-align: center;
        margin-bottom: 5px;
    }
    
    .logo-footer {
        padding-bottom: 20px;
    }
    
    .logo-footer img {
        width: 483.87px;
        height: 110px;
    }
    
    .icon {
        display: flex;
        justify-content: center;
        column-gap: 20px;
        padding-bottom: 20px;
    }
    
    .icon a {
        text-decoration: none;
        color: gray;
    }
    
    .copyright {
        font-size: 18px;
    }
    /* Media Queries */
    /* Mobile Device */
    
    @media only screen and (max-width: 668px) {
        .top-section {
            width: 100%;
        }
        .container {
            display: inline-block;
            text-align: left;
        }
        .section-title {
            margin-left: 16px;
        }
        .title {
            font-size: 36px;
            color: #FFFFFF;
            margin-bottom: 30px;
        }
        .section-banner {
            margin-left: 15px;
            margin-right: 15;
            margin-top: 50px;
            margin-bottom: 61px;
        }
        .section-banner img {
            width: 329px;
            height: 259.17px;
        }
        /* Player Section */
        .main-container {
            margin-left: 40px;
            margin-right: 0px;
            padding-top: 47px;
            width: 330px;
            justify-content: center;
        }
        .players {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            justify-content: center;
            grid-row-gap: 24px;
            width: 330px;
        }
        /* highlight section */
        .highlight-container {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            width: 90%;
            margin-top: 165px;
        }
        .highlight {
            width: 90%;
            margin-left: 15px;
            margin-top: 15px;
            padding-bottom: 29px;
        }
        h1 {
            font-size: 30px;
        }
        .highlight p {
            margin-right: 30px;
            margin-bottom: 24px;
        }
        .highligher-image {
            margin-right: 15px;
            margin-left: 15px;
        }
        .highligher-image img {
            width: 360px;
            height: 248px;
            margin-bottom: 20px;
        }
        /* news section */
        #news {
            background: #f7d6e2;
            padding-top: 30px;
            padding-bottom: 30px;
            text-align: center;
            width: 100%;
            margin: 0;
        }
        .news-container {
            display: inline-block;
            width: 90%;
        }
        .news {
            width: 360px;
            height: 620px;
            padding: 15px;
            border: 1px solid whitesmoke;
            box-shadow: 0px 0px 10px #dbdada;
            border-radius: 10px;
            margin-bottom: 20px;
        }
        .news-image {
            margin-right: 20px;
        }
        .news-image img {
            width: 360px;
            height: 320px;
        }
        .news-report p {
            text-overflow: ellipsis;
        }
        /* Videos */
        .video iframe {
            width: 100%
        }
        /* Footer */
        footer {
            margin: 10px;
            margin-bottom: 200px;
        }
        .logo-footer {
            padding-top: 40px;
            padding-bottom: 45px;
        }
        .logo-footer img {
            width: 120px;
            height: 40px;
        }
        .copyright {
            font-size: 18px;
            margin-left: 62px;
            margin-right: 62px;
        }
    }